<h1 class="text-md-center">Shopping Cart</h1>

<my-cart-summary></my-cart-summary>

<div class="text-md-right">
    <my-cart-cost></my-cart-cost>

    <div class="row end-xs">
        <div class="col-xs">
            <button class="btn btn-secondary" type="button" [routerLink]="['/DeviceOptions/DeviceCustomize']">Back</button>
            <button class="btn btn-primary" type="button" [routerLink]="['/DeviceSearch']">Add More</button>
            <button class="btn btn-success" type="button">Pay Now!</button>
        </div>
    </div>
</div>

<!--<pre style="background-color: #999;">-->
    <!--{{items[0].device.options | json}}-->
<!--</pre>-->
