<div class="container text-md-center">
  <h1>Scan the IMEI to begin.</h1>
  <form #form="ngForm" (ngSubmit)="search(form.value)">
    <div class="row">
      <div class="col-md">
        <div class="input-group">
          <input name="imei" ngModel type="text" class="form-control" placeholder="input IMEI...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Search</button>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>

