<header>
  <div class="header row flex-items-md-middle">
    <div class="col-xs-1 col-sm-1 col-md-1">
      <button appGoBack="white"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    </div>
    <div class="col-xs col-sm col-md text-xs-center text-sm-center text-md-center">Riley Mendoza</div>
    <div class="col-xs-2 col-sm-2 col-md-2 text-md-right">
      <my-cart-icon></my-cart-icon>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer *ngIf="btnNavService.button['text'] != ''">
  <div class="row">
    <div class="col-md">
      <button class="btn btn-link">Estimated Monthly Bill</button>
    </div>
    <div class="col-md-4 text-md-right">
      <button appCancelItem></button>
      <button type="button" class="btn btn-primary" [routerLink]="[btnNavService.button['routerLink']]">
        {{btnNavService.button['text']}}
      </button>
    </div>
  </div>
</footer>
