/* You can add global styles to this file, and also import other style files */
html, body {
  position: relative;
}
main {
  position: relative;
  height: 100%;
  padding: 50px;
  font-family: sans-serif;
  color: black;
  text-align: center;
  display: block;
}

// colors
